<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <%- include('./partials/navbar.ejs') %>

    <body class="bg-dark text-light">
      <div class="container mt-5">
        <h1 class="title">Laboration 1 Backend</h1>
        <p class="about-text">
          A server rendered Todo application.
          The application fetches the whole page everytime a change is made e.g when
          adding a todo, toggling complete and deleting a todo.
        <p>Todos are save in a development db (Lowdb) via a REST-API with endpoints:</p>
        <ul>
          <li>Get all: /api/todos</li>
          <li>Get one: /api/todos/:id</li>
          <li>Post one: /api/todos</li>
          <li>Patch one: /api/todos/:id</li>
          <li>Delete one: /api/todos/:id</li>
        </ul>

        <h3 class="subtitle">Technologies used</h3>

        <ul>
          <li>Express.js</li>
          <li>Lowdb</li>
          <li>EJS</li>
          <li>Bootstrap</li>
        </ul>
        </p>
      </div>
      <%- include('./partials/scripts.ejs') %>
    </body>

</html>